 /* Farewell and Invalid */
 .header-title {
    color: orange;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
  }
  
  .orange-box {
    background-color: #fff5e6;
    border: 2px solid orange;
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0px 5px 15px rgba(255, 165, 0, 0.2);
    text-align: center;
  }
  
  .logo-image {
    width: 100px;
    margin-top: 20px;
  }